# Linear Regression
By Aneesh Potnis

In [18]:
!pwd

/content/drive/MyDrive/DS_Project

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
%cd "/content/drive/MyDrive/DS_Project"
!pwd

/content/drive/MyDrive/DS_Project
/content/drive/MyDrive/DS_Project

In [21]:
# Importing Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [22]:
# Loading the dataset

new_df = pd.read_csv('ds_project_complete_data.csv')
new_df

<ipython-input-22-091385ecfed2>:3: DtypeWarning: Columns (33,34,35,36,37,38,39,40,41,47,48,49,50,51,52,53,54,55,61,62,63,64,65,66,67,68,69) have mixed types. Specify dtype option on import or set low_memory=False.
  new_df = pd.read_csv('ds_project_complete_data.csv')

,id,hhidpn,rabyear,r1agey_b,r2agey_b,r3agey_b,r4agey_b,r5agey_b,r6agey_b,r7agey_b,r8agey_b,r9agey_b,r10agey_b,r11agey_b,r12agey_b,r13agey_b,r14agey_b,ragender,radage_y,Dead_wave_1,Dead_wave_2,Dead_wave_3,Dead_wave_4,Dead_wave_5,Dead_wave_6,Dead_wave_7,Dead_wave_8,Dead_wave_9,Dead_wave_10,Dead_wave_11,Dead_wave_12,Dead_wave_13,Dead_wave_14,Status_wave_1,Status_wave_2,Status_wave_3,Status_wave_4,Status_wave_5,Status_wave_6,Status_wave_7,Status_wave_8,Status_wave_9,Status_wave_10,Status_wave_11,Status_wave_12,Status_wave_13,Status_wave_14,age_group_wave_1,age_group_wave_2,age_group_wave_3,age_group_wave_4,age_group_wave_5,age_group_wave_6,age_group_wave_7,age_group_wave_8,age_group_wave_9,age_group_wave_10,age_group_wave_11,age_group_wave_12,age_group_wave_13,age_group_wave_14,more_det_age_group_wave_1,more_det_age_group_wave_2,more_det_age_group_wave_3,more_det_age_group_wave_4,more_det_age_group_wave_5,more_det_age_group_wave_6,more_det_age_group_wave_7,more_det_age_group_wave_8,more_det_age_group_wave_9,more_det_age_group_wave_10,more_det_age_group_wave_11,more_det_age_group_wave_12,more_det_age_group_wave_13,more_det_age_group_wave_14,r1inc_group,r2inc_group,r3inc_group,r4inc_group,r5inc_group,r6inc_group,r7inc_group,r8inc_group,r9inc_group,r10inc_group,r11inc_group,r12inc_group,r13inc_group,r14inc_group
0,1.0,1010,1938.0,54.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.male,57.0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,Healthy,Healthy,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2010,1934.0,57.0,59.0,62.0,63.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.female,67.0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,Healthy,Healthy,Healthy,Healthy,Healthy,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Dead,Less than 65,Less than 65,Less than 65,Less than 65,65 to 74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,65 to 67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,3010,1936.0,56.0,58.0,60.0,62.0,64.0,66.0,68.0,70.0,72.0,74.0,76.0,NaN,NaN,NaN,1.male,77.0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Dead,Dead,Dead,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 74,65 to 74,65 to 74,65 to 74,65 to 74,75 to 84,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 67,67 to 69,69 to 71,71 to 73,73 to 75,75 to 77,NaN,NaN,NaN,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,NaN,NaN
3,4.0,3020,1938.0,54.0,55.0,57.0,59.0,61.0,63.0,65.0,67.0,69.0,72.0,73.0,75.0,NaN,NaN,2.female,77.0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,HHC,Healthy,Healthy,Healthy,Healthy,HC and NH,Dead,Dead,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 74,65 to 74,65 to 74,65 to 74,65 to 74,75 to 84,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 67,67 to 69,69 to 71,71 to 73,73 to 75,75 to 77,NaN,NaN,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,NaN,NaN
4,5.0,10001010,1939.0,53.0,55.0,57.0,58.0,60.0,62.0,64.0,66.0,69.0,71.0,72.0,74.0,76.0,NaN,1.male,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,Healthy,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 74,65 to 74,65 to 74,65 to 74,65 to 74,75 to 84,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,65 to 67,69 to 71,71 to 73,71 to 73,73 to 75,75 to 77,NaN,2.0,2.0,2.0,3.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42228,NaN,923525020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,58.0,59.0,62.0,63.0,1.male,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,Healthy,Healthy,Healthy,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0,2.0,1.0,2.0
42229,NaN,952836010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,52.0,54.0,56.0,58.0,2.female,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,Healthy,Healthy,Healthy,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0
42230,NaN,958361010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,47.0,50.0,51.0,NaN,1.male,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,Healthy,Healthy,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,2.0,2.0,NaN
42231,NaN,959733010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,1.male,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
42232,NaN,959738010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,61.0,63.0,65.0,67.0,1.male,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Healthy,Healthy,Healthy,Healthy,Healthy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,65 to 74,65 to 74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than 65,Less than 65,Less than 65,65 to 67,67 to 69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0

In [23]:
# Cleaning the gender column

new_df['ragender'] = new_df['ragender'].apply(lambda x: x[2:])
pd.set_option('display.max_columns', None)

In [24]:
ages_in_waves = new_df.loc[:, 'rabyear':'radage_y']
ages_in_waves

income_in_waves = new_df.loc[:, 'r1inc_group':'r14inc_group']

for val in income_in_waves.loc[:,'r1inc_group':'r14inc_group']:
  income_in_waves['r1inc_group'] = income_in_waves.apply(lambda row: row[val] if not pd.isnull(row[val]) else row['r1inc_group'], axis=1)
ages_in_waves['r1inc_group'] = income_in_waves['r1inc_group']

ages_in_waves['study_start_age'] = new_df['r1agey_b']
i = 0
for val in ages_in_waves.loc[:,'r1agey_b':'r14agey_b']:
  ages_in_waves['rabyear'] = ages_in_waves.apply(lambda row: (1992+(2*i))-row[val] if pd.isnull(row['rabyear']) else row['rabyear'], axis=1)
  i += 1
for val in ages_in_waves.loc[:,'r1agey_b':'r14agey_b']:
  ages_in_waves['study_start_age'] = ages_in_waves.apply(lambda row: row[val] if pd.isnull(row['study_start_age']) else row['study_start_age'], axis=1)

ages_in_waves

,rabyear,r1agey_b,r2agey_b,r3agey_b,r4agey_b,r5agey_b,r6agey_b,r7agey_b,r8agey_b,r9agey_b,r10agey_b,r11agey_b,r12agey_b,r13agey_b,r14agey_b,ragender,radage_y,r1inc_group,study_start_age
0,1938.0,54.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,male,57.0,2.0,54.0
1,1934.0,57.0,59.0,62.0,63.0,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,female,67.0,3.0,57.0
2,1936.0,56.0,58.0,60.0,62.0,64.0,66.0,68.0,70.0,72.0,74.0,76.0,NaN,NaN,NaN,male,77.0,3.0,56.0
3,1938.0,54.0,55.0,57.0,59.0,61.0,63.0,65.0,67.0,69.0,72.0,73.0,75.0,NaN,NaN,female,77.0,2.0,54.0
4,1939.0,53.0,55.0,57.0,58.0,60.0,62.0,64.0,66.0,69.0,71.0,72.0,74.0,76.0,NaN,male,NaN,3.0,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42228,1955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,58.0,59.0,62.0,63.0,male,NaN,2.0,55.0
42229,1959.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,52.0,54.0,56.0,58.0,female,NaN,2.0,51.0
42230,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.0,47.0,50.0,51.0,NaN,male,NaN,2.0,46.0
42231,1961.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,male,NaN,1.0,49.0
42232,1951.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,61.0,63.0,65.0,67.0,male,NaN,2.0,59.0

In [25]:
ages_in_waves.dropna(subset=['study_start_age','radage_y','r1inc_group'], inplace=True)
ages_in_waves['ragender'] = new_df['ragender']

In [26]:
# Creating a new dataframe with columns of Age at the start of the study, Gender, Income group, Age at Death
new_df1 = ages_in_waves[['rabyear','study_start_age','ragender','r1inc_group','radage_y']]
new_df1

       rabyear  study_start_age ragender  r1inc_group  radage_y
0       1938.0             54.0     male          2.0      57.0
1       1934.0             57.0   female          3.0      67.0
2       1936.0             56.0     male          3.0      77.0
3       1938.0             54.0   female          2.0      77.0
5       1934.0             58.0     male          3.0      65.0
...        ...              ...      ...          ...       ...
42126   1945.0             65.0     male          2.0      72.0
42159   1957.0             53.0     male          1.0      57.0
42172   1943.0             67.0   female          2.0      73.0
42186   1964.0             46.0     male          1.0      48.0
42188   1934.0             76.0     male          2.0      79.0

[16507 rows x 5 columns]

In [27]:
new_df1.reset_index(drop=True, inplace=True)

In [28]:
# One hot encoding the column of Gender
one_hot_encoded_data = pd.get_dummies(new_df1, columns = ['ragender'])

one_hot_encoded_data.drop(columns=['ragender_female'],inplace=True)

In [29]:
one_hot_encoded_data.rename(inplace=True, columns={'ragender_male':'Gender'})
one_hot_encoded_data

       rabyear  study_start_age  r1inc_group  radage_y  Gender
0       1938.0             54.0          2.0      57.0       1
1       1934.0             57.0          3.0      67.0       0
2       1936.0             56.0          3.0      77.0       1
3       1938.0             54.0          2.0      77.0       0
4       1934.0             58.0          3.0      65.0       1
...        ...              ...          ...       ...     ...
16502   1945.0             65.0          2.0      72.0       1
16503   1957.0             53.0          1.0      57.0       1
16504   1943.0             67.0          2.0      73.0       0
16505   1964.0             46.0          1.0      48.0       1
16506   1934.0             76.0          2.0      79.0       1

[16507 rows x 5 columns]

In [30]:
# Linear regression model with a train test split of 70-30

from sklearn import datasets, linear_model, metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, f1_score, classification_report

X = one_hot_encoded_data[['study_start_age','Gender','r1inc_group']]
y = one_hot_encoded_data[['radage_y']]
X_train, X_test,y_train, y_test = train_test_split(X, y,
                                       test_size=0.3,
                                       random_state=1)


kf = KFold(n_splits=5, random_state=1, shuffle=True)
acc = 0
list_training_error = []
list_testing_error = []
for (train_index, test_index) in kf.split(X):
  reg = linear_model.LinearRegression()
  reg.fit(X.iloc[train_index], y.iloc[train_index])
  y_pred = reg.predict(X.iloc[test_index])
  y_train_data_pred = reg.predict(X.iloc[train_index])
  y_test_data_pred = reg.predict(X.iloc[test_index])

  fold_training_error = mean_absolute_error(y.iloc[train_index], y_train_data_pred)
  fold_testing_error = mean_absolute_error(y.iloc[test_index], y_test_data_pred)

  list_training_error.append(fold_training_error)
  list_testing_error.append(fold_testing_error)

  acc += accuracy_score(y.iloc[test_index], y_pred.astype(int))
avg_accuracy = acc / kf.get_n_splits(X)
print(avg_accuracy)

0.04900943146094341

In [33]:
# Calculating the average life expectancy, for the baseline, by averaging the Age at Death column

y_pred = reg.predict(X_test)

average_life_expectancy = np.average(one_hot_encoded_data['radage_y'])
baseline = [average_life_expectancy]*y_pred.shape[0]

#Calculating the mean squared error with respect to the baseline
y_pred_train = reg.predict(X_train)
y_pred_train = np.around(y_pred_train).astype(int)

print(mean_squared_error(y_test, baseline))

123.88176911538328

In [34]:
# Calculating the mean squared error with respect to the predictions made by the linear regression model
print(mean_squared_error(y_test, y_pred))

41.99452806126371

In [35]:
# The R2 score for the linear regression model

r2_score(y_test, y_pred)

0.6610111375602203

In [36]:
# The R2 score for the baseline

r2_score(y_test, baseline)

-2.840414705662653e-07